.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card
 {
 min-width: 250px;
 width:50vw;
 border: 1px solid blue;
 height: 10vmin;
 /* width: 90vw; */
 padding:0 0 0 1vw;
 margin-left: 5vh;
 margin-left: 5vh;
 border-radius: 5px; 
 display:flex;
 justify-content: space-evenly;
 }


 .cardInfoDiv{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 70%;
 }

 .tel {
   font-style: italic;      
 }

 .unstyledList {
  list-style-type: none; /* Remove bullets */
  padding: 3vw; /* Remove padding */
  margin: 1vw; /* Remove margins */
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.listDiv{
  display: flex;
  justify-content: center;
}

.flexTxt{
  font-size: 3vmin;
}

.flexTxtSm{
  font-size: 2vmin;
}

.delBtn{
  margin-top: 1vh;
}

.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
